[epydoc] # Epydoc section marker (required by ConfigParser)

# Information about the project.
name: PMR WebServices
url: http://metnetdb.org/PMR/

# The list of modules to document.  Modules can be named using
# dotted names, module filenames, or package directory names.
# This option may be repeated.
modules: main request_handler service request_builder exception metabolite metabolite_service

# Write html output to the directory "../../doc/api/metabolite"
output: html
target: ../../doc/api/metabolite

# The CSS stylesheet for HTML output.  Can be the name of a builtin
# stylesheet, or the name of a file.
css: grayscale